{% extends 'base.html.twig' %}


{% block body %}
    <h1>Home</h1>
    <p>
        <strong>username:</strong> admin
    </p>
    <p>
        <strong>password:</strong> p4ssword
    </p>
    <hr>
    <p>
        <strong>Route:</strong> <a href="{{ url('jobboy_api_process_list') }}">jobboy_api_process_list</a>
    </p>
{% endblock %}